@import "../../../../assets/variables.scss";

::ng-deep {
  .sidenav-accordion {
    box-shadow: none !important;
  }
  mat-expansion-panel {
    box-shadow: none !important;
  }

  @media only screen and (min-width: 0) {
    .mat-menu {
      margin: -30px 0 0 120px;
    }

    .mat-menu-nested {
      margin: 0 0 0 5px;
    }
  }
}

.mat-drawer-container {
  background-color: $grey-lighten-3 !important;
}

.pointer {
  cursor: pointer;
}

// Utility classes
@media only screen and (min-width: 0) {
  .mat-drawer-side {
    border: none;
  }

  .faded-text {
    opacity: 0.6;
    color: $default-white;
  }
}

@media (min-width: 0px) and (max-width: 370px) {
  .side-bar-class {
    display: none;
  }
}

.sidenav {
  @media only screen and (min-width: 0) {
    .sidemenu-icons {
      opacity: 0.35;
      filter: invert(98%) sepia(2%) saturate(4016%) hue-rotate(900deg)
        brightness(168%) contrast(119%);
    }

    .drawer-container {
      height: auto;
      background-color: $default-white;
    }
    .drawer {
      position: fixed;
      width: 85px;

      &__header {
        &--icon {
          padding: 30px 0 15px 15px;
          background-color: $primary-lighten-1;

          .ps4-icon {
            height: 48px;
            width: 48px;
            background-color: $default-white;
            border-radius: 100%;
          }

          .drawer__header--social {
            display: flex;
            gap: 10px;
            margin-left: 15px;
          }
        }

        &--text {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 30px 0;

          &--title {
            display: none;
          }
          &--title--minWidth {
            color: $default-white;
            font-size: $font-size-heading-5;
            font-weight: 500;
          }

          &--subtitle {
            display: none;
          }

          &--subtitle--minWidth {
            font-size: $font-size-body-1;
            font-weight: 400;
          }
        }

        &--social {
          &-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }

          &--text {
            padding-left: 10px;
            display: none;
          }

          img {
            opacity: 0.5;
          }
        }
      }

      &__buttons {
        mat-expansion-panel-header {
          padding-left: 7px;

          .sidenav-accordion {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 0;
          }
        }

        .menu-link {
          margin: 15px 10px;
          border-bottom: 1px solid $grey-lighten-2;
          min-width: auto;
          padding-bottom: 10px;
          margin: 20px 20px;
          font-size: 16px;
        }
        p {
          cursor: pointer;
          display: flex;
          gap: 10px;
        }

        img {
          width: 17px;
          height: 17px;
        }

        .sidenav-request-btn {
          filter: grayscale(100%) brightness(70%);
          opacity: 0.4;
        }

        span {
          display: none;
        }

        mat-expansion-panel {
          .panel-title {
            display: flex;
            align-items: flex-start;

            img {
              margin-right: 10px;
            }
          }
        }

        .footer {
          position: absolute;
          bottom: 0;
          .logout-button {
            margin-left: 10px;
            cursor: pointer;
            &--text {
              display: none;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 370px) {
    .drawer-container {
      height: auto;
      background-color: $default-white;
    }

    .drawer {
      position: fixed;
      width: 85px;

      &__header {
        &--icon {
          padding: 30px 0 15px 15px;
          background-color: $primary-lighten-1;

          .ps4-icon {
            height: 48px;
            width: 48px;
            background-color: $default-white;
            border-radius: 100%;
          }

          .drawer__header--social {
            margin-left: 15px;
          }
        }

        &--text {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 30px 0;

          &--title {
            display: none;
          }
          &--title--minWidth {
            color: $default-white;
            font-size: $font-size-heading-5;
            font-weight: 500;
          }

          &--subtitle {
            display: none;
          }

          &--subtitle--minWidth {
            font-size: $font-size-body-1;
            font-weight: 400;
          }
        }

        &--social {
          &-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }

          &--text {
            padding-left: 10px;
            display: none;
          }

          img {
            opacity: 0.5;
          }
        }
      }
    }
  }
  @media only screen and (min-width: $mediaBp1Width) {
    .drawer-container {
      background-color: $default-white;
    }

    .drawer {
      position: fixed;
      width: 280px;

      &__header {
        &--icon {
          padding: 30px 15px 15px;
          background-color: $primary-lighten-1;

          .ps4-icon {
            width: 120px;
            height: 120px;
            background-color: $default-white;
            border-radius: 100%;
          }
        }
        .drawer__header--text--title--minWidth {
          display: none;
        }
        .drawer__header--text--subtitle--minWidth {
          display: none;
        }

        &--text {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 30px 0;

          &--title {
            color: $default-white;
            font-size: $font-size-heading-5;
            font-weight: 500;
            display: contents;
          }

          &--subtitle {
            font-size: $font-size-body-1;
            font-weight: 400;
            display: contents;
          }
        }

        &--social {
          display: flex;
          align-items: center;
          margin-left: -7px !important;

          &--text {
            display: contents;
            opacity: 0.5;
          }

          img {
            margin-right: 10px;
          }
        }
      }

      &__buttons {
        mat-expansion-panel-header {
          padding-left: 15px;
        }

        span {
          display: contents !important;
        }

        .footer {
          .logout-button {
            display: flex;
            gap: 15px;
            margin: 15px;
            width: 125px;
            cursor: pointer;

            &--text {
              color: $grey-darken-2;
              font-size: $font-size-subtitle-2;
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

.side-bar-class {
  border-right: 1px solid #ccc;
}
